#QnABox{
    border:0.5px solid rgb(241, 241, 241);
}
#QnABox>div{
    border:0.5px solid rgb(241, 241, 241);
}
#QnABox>div:nth-last-child(1){
    margin-bottom:10px
}

#QnABox p {
    margin:7px 10px;
}

#QBox{
    border:0.5px solid rgb(241, 241, 241);
    padding: 10px;
}
#btn0{
    width: 50%;
    margin: 10px 45%;
}

#btn1{
    border:0.5px solid rgb(241, 241, 241);
    font-weight: 700;
}
#btn2{
    display: flex;
    justify-content: center;
}
.btn2{
    border:0.5px solid rgb(241, 241, 241);
    font-weight: 700;
    padding: 5px 10px;
}

