#NBox{
    margin: 2px;
    display: flex;
    justify-content: end;
}
/*#btn1{*/
/*    border:0.5px solid rgb(241, 241, 241); */
/*    width: 80px;*/
/*}*/
/*#btn2{*/
/*    border:0.5px solid rgb(241, 241, 241); */
/*}*/


.btn1{
    border:0.5px solid rgb(241, 241, 241);
    width: 80px;
    padding:3px 5px;
    margin: 5px;
    border: solid 1px;
}
.drag-file{

}

#status_btn{
    width:100px;
    height:30px;
}

#status_btn_active{
    width:100px;
    height:30px;
}
