<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/3_contents/tv/tv.css" rel="stylesheet"/>
    <script defer src="/js/Movie.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<!-- topbar.html -->
<div th:replace="fragment/topbar :: topbar(${adminIdx}, ${adminType})"></div>
<!-- topbar.html 끝 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <!-- sidenav.html -->
            <div th:replace="fragment/sidenav :: sidenav"></div>
            <!-- sidenav.html 끝 -->

            <!-- sidefooter.html -->
            <div th:replace="fragment/sidefooter :: sidefooter(${adminId}, ${adminName})"></div>
            <!-- sidefooter.html 끝 -->
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">TV</h1>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        TV
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>프로그램명</th>
                                <th>채널</th>
                                <th>방영날짜</th>
                                <th>장르</th>
                                <th>국가</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>번호</th>
                                <th>책제목</th>
                                <th>작가</th>
                                <th>출간날짜</th>
                                <th>카테고리</th>
                                <th>페이지</th>
                            </tr>
                            </tfoot>
                            <tbody id="tvtbody" th:remove="all-but-first">
                            <tr id="tvtr" th:each="tv : ${tvs}">
                                <td id="tvIdx" ><a th:text="${tv.tvIdx}" th:href="@{/contents/tv_detail/{id}(id=${tv.tvIdx})}"></a></td>
                                <td id="tvTitle" ><a th:text="${tv.tvTitle}" th:href="@{/contents/tv_detail/{id}(id=${tv.tvIdx})}"></a></td>
                                <td id="tvChannel" ><a th:text="${tv.tvChannel}" th:href="@{/contents/tv_detail/{id}(id=${tv.tvIdx})}"></a></td>
                                <td id="tvMakingDate" ><a th:text="${tv.tvMakingDate}" th:href="@{/contents/tv_detail/{id}(id=${tv.tvIdx})}"></a></td>
                                <td id="tvGenre" ><a th:text="${tv.tvGenre}" th:href="@{/contents/tv_detail/{id}(id=${tv.tvIdx})}"></a></td>
                                <td id="tvCountry" ><a th:text="${tv.tvCountry}" th:href="@{/contents/tv_detail/{id}(id=${tv.tvIdx})}"></a></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="MBox">
                        <button id="btn1" onclick="location.href='/contents/tv_write'">TV등록</button>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>
</body>
</html>
